@page "/"

<h1>McMicking.Net</h1>

This is a placeholder for the McMicking web site and an experiment with Microsoft's new Blazor development platform.

<SurveyPrompt Title="How is Blazor working for you?" />
